/* CSS BY NAME */

/* Section Color set */
header, #our-services, #pricing, footer{
    background-color: var(--body-color);
}
nav{
    background-color: var(--nav-color);
}
#why-choose-us, #take-the-first-step-today{
    background-color: var(--red-color);
}
/* Font Set */
h1, h2{
    font-family: "Modak";
    color: var(--header-pri);
    font-size: 2.2rem;
    font-weight: 100;
    padding: 3px;
}
header p{
    color: var(--header-pri);
}
nav h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 1.5rem;
}
h3{
    color: var(--header-sec);
    font-weight: bold;
    padding: 3px;
}
h4{
    color: var(--header-thr);
    padding: 4px;
}
/* Formatting */
header h1, header p{
    padding: 8px;
}
h1, header p{
    text-align: center;
}
nav{
    height: fit-content;
    padding: 15px;
}
nav h2{
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;

}
nav, nav ul{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav a{
    font-weight: 600;
    text-decoration: none;
    width: 300px;
    padding: 10px 15px;
}
nav li{
    margin: 4px 25px;
    padding: 10px 0px;
    background-color: white;

}
#our-services{
    padding: 15px 5px;
}
#our-services section img{
    margin-left: 0;
    width: 100px;
    height: auto;
}
#our-services section{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}
#why-choose-us{
    padding: 10px;
    font-size: 0.8rem;

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.grid-container section{
    padding: 1.25rem;
    border-radius: 0.625rem;
    font-weight: bold;
    text-align: center;
    margin: 0.3125rem;
}
/* #WHY CHOOSE US GRID BOX COLORS CONTROLLED IN HTML */

.pricing-table{
    background-color: white;
    padding: 10px 25px;
}
#pricing table{
    width: 230px;
    height: auto;
    background-color: rgb(228, 173, 34);
    padding: 1px 1px;
}
#pricing thread{
    font-weight: bold;
}
#pricing tr{
    padding: 10px 0;
}
#pricing td{
    background-color: white;
    padding: 2px;
    font-size: 1rem;
}
#take-the-first-step-today{
    color: white;
    padding: 5px;
}
#take-the-first-step-today h2{
    text-align: center;
}
#take-the-first-step-today p{
    font-size: 0.9rem;
    padding: 5px 10px;
}
#take-the-first-step-today a{
    display: block;
    padding: 15px 15px;
    color: black;
    background-color: white;
    text-align: center;
    margin: 0px 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 2px;
    text-decoration: none;
}
footer{
    text-align: center;
    padding: 30px 15px;
}
footer *{
    color: white;
    padding: 5px;
    
}



/* IMPORTED FONTS */
.modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

/* CSS RESET */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* ROOT VARIABLES */
:root{
    /* page color */
    --page-color: rgb(87, 87, 199);
    --nav-color: rgb(225, 146, 0);
    --body-color: rgb(50, 50, 166);
    --red-color: rgb(212, 73, 73);
    /* text color */
    --plain-text-color: black;
    --header-pri: white;
    --header-sec: rgb(228, 164, 44);
    --header-thr: rgb(72, 72, 185);
}

/* GLOBAL STYLES */
body{
    background-color: var(--page-color);
    width: 450px;
    margin: 0 auto;
    font-family: "Poppins",Helvetica, Arial, sans-serif;
}
body *{
    margin: 0 auto;

}
body p{
    font-size: 0.9rem;
}